#container {
 margin: 0 auto;
 border: 3px solid #EEEEEE;
 width: 800px;
 -webkit-birder-radius: 6px;
 -moz-border-radius: 6px;
  border-radius: 6px; }

*:focus {outline: none;}

input, textarea {
 border: solid 1px #CCCCCC;
 margin-left: 10px;
 padding: 4px;
 outline: 0;
 font: Verdana, Geneva, sans-serif;
 width: 290px;
 height: 25px;
 background: #F9F9F9;
 -webkit-birder-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
}

select {
 border: solid 1px #CCCCCC;
 margin-left: 10px;
 padding: 4px;
 outline: 0;
 font: Verdana, Geneva, sans-serif;
 width: 326px;
 height: 35px;
 background: #F9F9F9;
 -webkit-birder-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
}

.send input {
 width: auto;
 margin-bottom: 10px;
 border: 2px solid #E0E0F3;
 font: Verdana, Geneva, sans-serif;
 background-color: #E5E5F8;
}

p label {
 margin-left: 10px;
 font-style: italic;
 color: #c0c0c0;
}
 
.name input {
 margin-top: 10px;
}


input:hover, textarea:hover, input:focus, textarea:focus {
 border-color: #A0A0A0;
}

.send input:hover {
 border: 2px solid #C0C0E3;
}

.dbform ul{
    width:750px;
    list-style-type:none;
}

.dbform input, .dbform textarea {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
    padding-right:30px;
}

.dbform select {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
    padding-right:30px;
}


.dbform input:focus, .dbform textarea:focus, .dbform select:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}

.dbform input:focus:invalid { /* when a field is considered invalid by the browser */
 background: #fff url(images/invalid.png) no-repeat 98% center;
 box-shadow: 0 0 5px #d45252;
 border-color: #b03535
}

.dbform input:required:valid { /* when a field is considered valid by the browser */
    background: #fff url(images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

/* Button Style */
button.submit {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer;
}
button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
}
